
    <h1>@ViewBag.Title</h1>

<h2>IIKA Corp.</h2>

<p>Pick Up Information

Packages are generally available within 2 hours after receipt of payment and are delivered by our store staff via counter. If you prefer delivery by Courier right now, Asian Food Centre provide home delivery at additional charges.

Shipping fees include handling and packing fees as well as any other costs. Handling fees are fixed. We advise you to group your items in one order. We cannot group two distinct orders placed separately, and shipping or handling fees will apply to each of them. Your package will be ready at your own risk, but special care is taken to protect fragile objects. Boxes are amply sized and your items are well-protected.

Documents Required for Pick-up

Your Order receipt.
Your Photo ID Proof. Like, Driving Licence, Permanent Card, etc.
Refunds, Returns and Exchanges

Any out of stock item will not be packed into your package. Payment charged for that item will be refunded back to your payment mode back within 3-4 business days. Our staff always keep in record and provide you each and every item available.
</p>

<bootstrap>My Name is @ViewBag.Inder</bootstrap>

