@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    IIka Corp.<br />
    Brampton And Scarbrough <br />
    <abbr title="Phone">P:</abbr>
    905-645-0001
</address>

<address>
    <strong>je Labh Humda aa tan labh lao</strong><br/>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>