@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<address>
    IIka Corp.<br />
    Brampton And Scarbrough <br />
    <abbr title="Phone">P Abhinav:</abbr>
    905-645-0001<br />
    <abbr title="Phone">P Inder:</abbr>
    647-924-6573<br />
</address>
<address>
    <strong>je Labh Humda aa tan labh lao</strong><br />
    <strong>Support Inder:</strong>   <a href="mailto:inderbharaj@ymail.com">inderbharaj@ymail.com</a><br />
    <strong>Support Abhinav:</strong> <a href="mailto:abhinavsharda33@gmail.com">abhinavsharda33@gmail.com</a>
</address>