
@{
    ViewBag.Title = "Catalog page";
}
<p>@ViewBag.Message</p>

<h2>Catalog</h2>
<img src="~/Assets/Fancy-Food.jpg" />
<img src="~/Assets/in-defense-of-processed-foods-graphics-1.jpg" />
<img src="~/Assets/healthy-wraps.jpg" />
<img src="~/Assets/150521165141-02-microbiome-foods-restricted-super-169.jpg" />



